@import url(bootstrap.min.css);
@import url(blocks/b-sales.css);
@import url(blocks/b-table.css);
@import url(blocks/b-options.css);

.cf:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.valid-wrapper {
  padding-top: 10px;
}

.container.container_wide {
  width: 1280px;
  padding: 0;
}

.navbar-nav > li > a.orange-clr,
.navbar-nav > li > a.orange-clr:hover {
  font-weight: bolder;
}

.loader {
  display: none;
}

/*Analytics */

.b-anls .well label {
  float: left;
  width: 40px;
  text-align: left;
  display: inline-block;
}

.table-striped > tbody > tr.category_caps td {
  text-transform: uppercase;
  font-weight: bold;
  background-color: silver;
}

.b-anls div.date-wrapper {
  width: 14%;
}
.b-anls div.quart-wrapper {
  width: 18%;
}
.b-anls div.agent-wrapper {
  width: 28%;
}
.b-anls .control-label.date {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}