@import url(bootstrap.min.css);
@import url(blocks/b-sales.css);
@import url(blocks/b-table.css);
@import url(blocks/b-options.css);

.cf:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.valid-wrapper {
  padding-top: 10px;
}

.container.container_wide {
  width: 1280px;
  padding: 0;
}

.navbar-nav > li > a.orange-clr,
.navbar-nav > li > a.orange-clr:hover {
  color: rgb(234, 253, 131);
  font-weight: bolder;
}