@import url(bootstrap.min.css);
@import url(blocks/b-sales.css);
@import url(blocks/b-table.css);
@import url(blocks/b-options.css);

.cf:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.valid-wrapper {
  padding-top: 10px;
}