<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/blocks/b-sales.css" />
    <include path="~/Content/blocks/b-table.css" />
    <include path="~/Content/blocks/b-options.css" />
  </styleBundle>
</bundles>
