<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mag.Business.Properties.Settings.MagConnectionString" connectionString="Data Source=.;Initial Catalog=Mag;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
